body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #242526;
  min-width: 300px;
}

.fsb-divider {
  width: 100%;
  border-bottom: 1px grey solid;
  margin-bottom: 8px;
}

.fsb-main {
  max-width: 320px;
  padding: 4px 4px 0 4px;
}

.fsb-top {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 4px;
}

.fsb-logo {
  height: 24px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.fsb-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  user-select: none;
}

.fsb-message {
  display: block;
  font-size: 16px;
  background-color: #3a3b3c;
  border-radius: 12px;
  line-height: 1.5;
  padding: 4px 20px;
  margin-bottom: 8px;
}

.fsb-tab-count {
  font-size: 17px;
  float: right;
}

.fsb-total-count {
  font-size: 17px;
  float: right;
}

.fsb-btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fsb-button {
  flex: 1;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 12px;
  border-width: 0;
  padding: 8px 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.fsb-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.fsb-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}