* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #242526;
  min-width: 300px;
}

.fsb-divider {
  width: 100%;
  border-bottom: 1px grey solid;
  padding-top: 4px;
  margin-bottom: 8px;
}

.fsb-main {
  max-width: 320px;
  padding: 4px 4px 0 4px;
}

.fsb-top {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 4px;
}

.fsb-logo {
  height: 24px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.fsb-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  user-select: none;
}

.fsb-description {
  text-align: center;
  padding-bottom: 10px;
}

.fsb-text-row {
  display: block;
  font-size: 16px;
  background-color: #3a3b3c;
  border-radius: 12px;
  line-height: 1.5;
  padding: 4px 20px;
  margin-bottom: 8px;
}

.fsb-input-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 12px;
  line-height: 1.5;
  padding: 4px 0;
  margin-bottom: 2px;
}

.fsb-counter-text {
  font-size: 17px;
  float: right;
}

.fsb-author-refer {
  font-size: 16px;
  text-decoration: none !important;
}

.fsb-author {
  display: flex;
  color: white !important;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}

.fsb-author:hover {
  text-decoration: underline;
}

a,
a:active,
a:visited {
  color: white !important;
  text-decoration: none;
}
